<script type="text/javascript">
</script>

<div class="row">
  <div class="col-xs-12">
    <h1>SAML SP with OIDC Slient Authentication</h1>

    <a class="btn btn-default" href="/login" role="button">Login</a>
  </div>
</div>
