<!DOCTYPE html>
<html lang="en">
  <head>    
    <title>SAML SP with OIDC Slient Authentication</title>
    <link rel="stylesheet" type="text/css" href="//cdn.auth0.com/styleguide/1/index.css">
    <link href="/css/site.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//cdn.auth0.com/js/auth0/9.0/auth0.min.js"></script>

    <%- script %>
  </head>

  <body class="container">
    <%- body %>
  </body>
</html>
